
.center-field{
    margin: auto;
}




body{
    width: 700px;
    margin: auto;
    background: cornsilk;
    font-family: sans-serif;
}




fieldset{
    border: 2px solid black;
}

.height-fieldset{
    min-height: 300px;
}